<mat-toolbar  class="toolbar" >
  <mat-button-toggle-group [(ngModel)]="ratingMode">
    
    <mat-button-toggle value="star" >
      ✨
    </mat-button-toggle>
    <mat-button-toggle value="tinder">
      👎 👍
    </mat-button-toggle>
  </mat-button-toggle-group>
  
</mat-toolbar>
<section class="section-hero" >
  <header class="header">
    <h1>ChePapas Zamora</h1>
    <p>Descubre y califica los mejores papas.</p>
  </header>
  <div class="content">
    <div class="selected-review">
    <app-tinder-card [ratindMode]="ratingMode" ></app-tinder-card>
    </div>
  </div>

</section>
